<div class="container">
	<div class="centered">
		<h1>About Spider Den</h1>
		<a href="https://github.com/sswbelser/Spider-Den" class="btn btn-round btn-clear btn-github" id="githubIcon" target="_blank"><i class="fa fa-github-square fa-4x"></i></a>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 about-div">
			<p>Texty texty text. Made with <a href="http://unity3d.com/unity/" target="_blank">Unity</a></p>
			<%= image_tag("team.jpg", class: "about-image") %>
			<ul id="about-ul">
				<li><a href="http://www.sswbelser.com" target="_blank">Sabastian Belser</a></li>
				<li><a href="http://www.codingforsmiles.com" target="_blank">Sean Hill</a></li>
			</ul>
		</div>
		<div class="col-md-6">
			<!-- Posts -->
			<h3 class="centered">What do you think?</h3>
			<br>
			<div class="centered">
				<a class="btn btn-danger" data-toggle="modal" data-target="#post-modal" id="post-button">New Post</a>
			</div>
			<div class="modal fade" id="post-modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<%= render "postform" %>
						</div>
					</div>
				</div>
			</div>
			<br><br>
			<% @posts.each do |post| %>
				<div class="panel panel-danger">
					<div class="panel-heading">
						<p><%= post.user.username %></p>
					</div>
					<div class="panel-body">
						<h4><%= post.text %></h4>
						<% if post.user == current_user %>
							<%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, post_path(post), class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
						<% end %>
					</div>
				</div>
				<hr>
			<% end %>
		</div>
	</div>
</div>