<div class="container">
	<div class="centered">
		<h1 class="creepy-text">About NightMaze</h1>
		<a href="https://github.com/sswbelser/NightMaze" class="btn btn-round btn-clear btn-github" id="githubIcon" target="_blank"><i class="fa fa-github-square fa-4x"></i></a>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 about-div">
			<h3 class="centered creepy-text">A Storm-Hill Game</h3>
			<p>You have slipped into a deep pit with no visible way out. As you turn on your flashlight you find that you are in some sort of maze. It is dark and you hear noises. You have to run. You have to escape! NightMaze is an exciting first person maze runner with the goal of surviving the monsters of the maze and finding the way out. You are trapped in the maze with just a flashlight and a weapon. Can you make it?<br><br>The Storm-Hill duo met in college and quickly became close friends, bonding over common interest in video games - both vintage and modern. After college, the two kept in contact and joined an intesive course to teach themselves how to code. Throughout the course, they both took it upon themselves to learn new tools, with the ultimate goal of building their own games. While they experimented with other game engines, they eventually discovered <a href="http://unity3d.com/unity/" target="_blank">Unity</a>. With Unity, they found just how fun it could be to build 3D mobile games.<br><br>NightMaze is the first game to come from the Storm-Hill team, and we hope you enjoy it!
			<hr>
			<%= image_tag("storm_hill.jpg", class: "about-image") %>
			<ul id="about-ul">
				<li><a href="http://www.sswbelser.com" target="_blank">Sabastian Belser</a></li>
				<li><a href="http://www.codingforsmiles.com" target="_blank" id="sean">Sean Hill</a></li>
			</ul>
			<br><br>
		</div>
		<div class="col-md-6">
			<!-- Posts -->
			<h3 class="centered creepy-text">What do you think?</h3>
			<br>
			<div class="centered">
				<a class="btn btn-danger" data-toggle="modal" data-target="#post-modal" id="post-button">New Post</a>
			</div>
			<div class="modal fade" id="post-modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<%= render "postform" %>
						</div>
					</div>
				</div>
			</div>
			<br><br>
			<% @posts.each do |post| %>
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h4 class="creepy-text"><%= post.user.username %></h4>
					</div>
					<div class="panel-body">
						<p><%= post.text %></p>
						<% if post.user == current_user %>
							<%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, post_path(post), class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
						<% end %>
					</div>
				</div>
				<hr>
			<% end %>
		</div>
	</div>
</div>