<!DOCTYPE html>
<html>
<head>
	<title>Spider Den</title>

	<!-- Favicon -->
	<link rel='shortcut icon' href='./favicon.ico' type='image/x-icon'/ >

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Bootstrap Optional CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<%= stylesheet_link_tag 'application', media: 'all' %>

	<%= csrf_meta_tags %>
</head>
<body>

	<header>
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
				<a class="navbar-brand"><%= image_tag("spider.png", :alt => "Logo", :class => "navbar_image") %></a>
				<a class="navbar-brand" href="/">Spider Den</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/about">About</a></li>
			</ul>
			<% if logged_in? %>
				<a class="btn navbar-btn navbar-right btn-warning" href="/logout" id="logout-button">Log out</a>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="navbar-header">Welcome, <%= current_user.username %></a></a></li>
				</ul>
			<% else %>
				<a class="btn navbar-btn navbar-right btn-default" data-toggle="modal" data-target="#signup-modal" id="signup-button">Sign Up</a>
				<a class="btn navbar-btn navbar-right btn-primary" data-toggle="modal" data-target="#login-modal">Login</a>
				<div class="modal fade" id="signup-modal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<%= render "signupform" %>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="login-modal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<%= render "loginform" %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			</div>
		</nav>
	</header>

	<div class="container text-center">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
		<% end %>
	</div>

	<%= yield %>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<%= javascript_include_tag 'application' %>

</body>
</html>