<!DOCTYPE html>
<html>
<head>
	<title>Spider Den</title>

	<link rel='shortcut icon' href='./favicon.ico' type='image/x-icon'/ >

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Bootstrap Optional CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<%= stylesheet_link_tag 'application', media: 'all' %>

	<%= csrf_meta_tags %>
</head>
<body>

	<header>
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
				<a class="navbar-brand"><%= image_tag("spider.png", :alt => "Logo", :class => "navbar_image") %></a>
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="details-dropdown">Spider Den<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="http://www.sswbelser.com" target="_blank">Sabastian Belser</a></li>
							<li><a href="http://www.codingforsmiles.com" target="_blank">Sean Hill</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="https://github.com/sswbelser/Spider-Den" target="_blank">GitHub</a></li>
							<li><a href="http://unity3d.com/unity/" target="_blank">Made with Unity</a></li>
						</ul>
					</li>
				</ul>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
			<% if logged_in? %>
				<a class="btn navbar-btn navbar-right btn-warning" href="/logout">Log out</a>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="navbar-header">Welcome, <%= current_user.username %></a></li>
				</ul>
			<% else %>
				<a class="btn navbar-btn navbar-right btn-default" href="/login">Login</a>
				<a class="btn navbar-btn navbar-right btn-primary" href="/signup">Sign Up</a>
			<% end %>
			</div>
		</nav>
	</header>

	<div class="container text-center">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
		<% end %>
	</div>

	<%= yield %>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<%= javascript_include_tag 'application' %>

</body>
</html>